# Tugas Pengenalan Apache Spark

Datasets: [NYS Motor Vehicle Crashes and Insurance Reduction](https://www.kaggle.com/new-york-state/nys-motor-vehicle-crashes-and-insurance-reduction)

### Initialization
***

In [1]:
import findspark

findspark.init()

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .getOrCreate()

In [3]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x0000000006DDD358>

### Loading datasets
***

In [4]:
df1 = spark.read.csv("C:/Users/Symefa/Desktop/Big-Data/datasets/crash.csv", header=True, inferSchema=True)

df1.count()

895916

### Schema Fix
***

In [5]:
df1.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Crash Descriptor: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Day of Week: string (nullable = true)
 |-- Police Report: string (nullable = true)
 |-- Lighting Conditions: string (nullable = true)
 |-- Municipality: string (nullable = true)
 |-- Collision Type Descriptor: string (nullable = true)
 |-- County Name: string (nullable = true)
 |-- Road Descriptor: string (nullable = true)
 |-- Weather Conditions: string (nullable = true)
 |-- Traffic Control Device: string (nullable = true)
 |-- Road Surface Conditions: string (nullable = true)
 |-- DOT Reference Marker Location: string (nullable = true)
 |-- Pedestrian Bicyclist Action: string (nullable = true)
 |-- Event Descriptor: string (nullable = true)
 |-- Number of Vehicles Involved: integer (nullable = true)

### Converting To SparkSQL Datatype
***

In [6]:
df1.createOrReplaceTempView('crashes')

In [7]:
spark.sql("SELECT DISTINCT `County Name` FROM crashes").show()

+------------+
| County Name|
+------------+
|      FULTON|
|ST. LAWRENCE|
| CATTARAUGUS|
|     STEUBEN|
|       YATES|
|       KINGS|
|      OSWEGO|
|     MADISON|
|   JEFFERSON|
|  CHAUTAUQUA|
| SCHENECTADY|
|      WARREN|
|    ROCKLAND|
|       TIOGA|
|    ALLEGANY|
|      MONROE|
|      SENECA|
|    ONONDAGA|
|       LEWIS|
|      QUEENS|
+------------+
only showing top 20 rows

### Data Mining Process
***

* Banyak Kecelakaan per daerah

In [8]:
spark.sql("SELECT `County Name` AS County, COUNT(`County Name`) AS `Number of Accident`\
          FROM crashes \
          GROUP BY `County Name` \
          ORDER BY COUNT(`County Name`) DESC \
          ").show()

+-----------+------------------+
|     County|Number of Accident|
+-----------+------------------+
|     NASSAU|             98984|
|    SUFFOLK|             95967|
|     QUEENS|             59875|
|      KINGS|             58611|
|       ERIE|             51708|
|WESTCHESTER|             44336|
|     MONROE|             42098|
|   NEW YORK|             35752|
|      BRONX|             32411|
|   ONONDAGA|             29183|
|     ORANGE|             28860|
|     ALBANY|             24543|
|   ROCKLAND|             19754|
|   DUTCHESS|             17181|
|   SARATOGA|             14138|
|     ONEIDA|             13215|
|     ULSTER|             12909|
|     BROOME|             11794|
|   RICHMOND|             11486|
|    NIAGARA|             11170|
+-----------+------------------+
only showing top 20 rows

* Ranking kecelakaan terjadi pada jam

In [9]:
spark.sql("SELECT `Time`, COUNT(`Time`) AS Jumlah \
          FROM crashes  \
          GROUP BY `Time` \
          ORDER BY Jumlah DESC \
          ").show()

+-----+------+
| Time|Jumlah|
+-----+------+
| 0:00| 28527|
|17:00|  7615|
|16:00|  7379|
|18:00|  7245|
|15:00|  7187|
|17:30|  6396|
|14:00|  6300|
|12:00|  6000|
|13:00|  5890|
| 8:00|  5632|
|16:30|  5621|
|19:00|  5505|
|15:30|  5387|
|11:00|  5387|
|10:00|  5320|
| 9:00|  5295|
|14:30|  5139|
|18:30|  5076|
|12:30|  4690|
|13:30|  4539|
+-----+------+
only showing top 20 rows

* Jumlah Kecelakan berbasis dari Deskripsi

In [10]:
spark.sql("SELECT `Event Descriptor`, COUNT(`Event Descriptor`) AS Jumlah \
          FROM crashes  \
          GROUP BY `Event Descriptor` \
          ORDER BY Jumlah DESC \
          ").show()

+--------------------+------+
|    Event Descriptor|Jumlah|
+--------------------+------+
|Other Motor Vehic...|609589|
|                Deer| 68012|
|Pedestrian, Colli...| 41109|
|Guide Rail - Not ...| 24171|
|Earth Embankment/...| 20633|
|Light Support/Uti...| 18120|
|Bicyclist, Collis...| 17289|
|Tree, Collision W...| 17224|
|Other Fixed Objec...|  9429|
|Animal, Collision...|  8510|
|Other Object (Not...|  8045|
|Sign Post, Collis...|  7727|
|Building/Wall, Co...|  5286|
|Other*, Non-Colli...|  5222|
|Curbing, Collisio...|  5159|
|Snow Embankment, ...|  4788|
|Overturned, Non-C...|  3707|
|Barrier, Collisio...|  3568|
|Fence, Collision ...|  3178|
|Median - Not At E...|  2564|
+--------------------+------+
only showing top 20 rows